@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.box_user {
  @include flexPosition(row, space-between, center);
  width: 100%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 16px 32px;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;

  .cont_dat {
    @include flexPosition(row, center, center);

    .img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }

    .cont_user_info {
      padding-left: 24px;
      h3,
      p {
        margin: 0px;
      }
    }
  }

  .box_actions {
    @include flexPosition(row, center, center);
  }
}
