@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(row, space-between, center);
  width: 100vw;
  min-height: 80vh;
  height: 100%;

  aside {
    @include flexPosition(column, flex-start, center);
    height: 100%;
    flex: 1;
    background-color: #d9d9d9;
    padding: 32px 2em;

    section {
      @include flexPosition(row, flex-start, center);
      width: 100%;
      cursor: pointer;

      h3 {
        margin-left: 16px;
      }
    }
  }

  .cont_chd {
    @include flexPosition(row, center, center);
    flex: 4;
    height: 100%;
    background-color: tomato;
  }
}
