@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.box {
  @include flexPosition(row, space-between, center);
  width: 100%;
  background-color: #fff;
  color: #07355f;
  border: 1px solid #07355f;
  border-radius: 6px;
  padding: 16px 24px;
  margin-bottom: 16px;

  .info {
    @include flexPosition(row, center, center);

    img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-right: 16px;
    }

    h3,
    p {
      margin: 0px;
    }

    p {
      color: #737373;
    }
  }

  .actions {
    @include flexPosition(row, center, center);

    & >* {
        margin: 0px 4px;
    }
}
}
