@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(row, flex-start, center);
  width: auto;
  height: auto;
  position: relative;

  .s_icon {
    position: absolute;
    left: 8px;
    color: #6B6B6B;
  }

  .input {
    min-width: 350px;
    width: 100%;
    border: 0px;
    padding: 10px 16px;
    padding-left: 36px;
    border-radius: 50px;
    margin-right: 24px;
    outline: none;
  }
}

