@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.main {
  @include flexPosition(column, center, center);
  width: 100%;
  height: 100vh;
  background: rgb(7, 53, 95);
  background: linear-gradient(
    45deg,
    rgba(7, 53, 95, 1) 0%,
    rgba(168, 0, 255, 1) 100%
  );

  .info {
    @include flexPosition(column, center, center);
    width: 50%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px;
    color: #07355f;

    h1 {
      margin: 8px 0px 16px 0px;
    }

    h3 {
      margin: 0px;
      margin-bottom: 12px;
    }

    .input{
      margin-bottom: 32px;
    }
  }

  .cont_register {
    @include flexPosition(column, center, center);
    width: 100%;
    cursor: pointer;

    .btn {
      @include flexPosition(row, center, center);
      width: 100%;
      margin: 0px;
      padding: 12px 0px;

      .cont_btn_auth {
        @include flexPosition(row, flex-start, center);
        width: 150px;
        height: auto;
      }
    }

    .img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      cursor: pointer;
    }
  }
}
