@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(column, center, center);
  width: 100%;
  height: 100%;
  padding: 1em 5em;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;

  .bac_box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 250px;
    background-color: #07355f;
    top: 0;
  }

  .body_ {
    @include flexPosition(column, flex-start, center);
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 50vw;
    min-width: 500px;
    height: auto;
    padding: 0px 32px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 150px;
    margin-bottom: 10px;

    .body_img {
      position: absolute;
      z-index: 3;
      top: -100px;
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }

    .perfil {
      @include flexPosition(column, flex-start, center);
      height: auto;
      margin-top: 124px;
      margin-bottom: 24px;

      h2,
      p {
        margin: 0px;
      }
    }

    hr{
      width: 100%;
      height: 2px;
      border: none;
      background-color: #f2f2f2;
      margin-top: 26px; 
    }

    .info {
      @include flexPosition(row, space-around, center);
      margin: 0px;
      width: 100%;
      margin-bottom: 24px;

      .cont_info {
        @include flexPosition(row, flex-start, center);
        width: auto;
  
        h3 {
          margin: 0px;
          margin-right: 24px;
          color: #404040;
        }

        p{
          margin: 0px;
          color: #737373;
        }
      }
    }
  }

  .cont_data {
    @include flexPosition(column, flex-start, center);
    width: 100%;
    height: auto;
    margin-bottom: 24px;

    .input_data {
      margin-bottom: 24px;
      width: 100%;
      max-width: 300px;
    }
  }

  
}
