@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(column, flex-start, center);
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  color: #07355f;
  overflow-y: auto;

  section {
    padding: 2em 5em;
  }

  .header {
    @include flexPosition(row, space-between, center);
    width: 100%;
    padding-top: 50px;
  }

  .graphcs {
    @include flexPosition(column, flex-start, center);
    width: 100%;
    height: auto;

    .cont_gph {
      @include flexPosition(column, flex-start, center);
      width: 80%;
      height: auto;
      background-color: #fff;
      border-radius: 4px;
      max-height: 500px;
      padding: 24px;
      margin-bottom: 24px;
    }
  }
}

.graph {
  width: 300px;
  height: 200px;
  max-width: 500px;
  max-height: 300px;
}
