@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin sombra {
  box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
}

@mixin animation($dura, $name, $fill, $timi) {
  animation-duration: $dura;
  animation-name: $name;
  animation-fill-mode: $fill;
  animation-timing-function: $timi;
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container_o {
  @include flexPosition(row, space-around, center);
  @include animation(1s, fadeIn, both, ease-in-out);
  width: 100%;
  max-width: 1250px;
  height: auto;
  padding: 24px;
  color: #fff;
  background-color: #07355f;
  border-radius: 5px;
  transition: 1s;
}

.container_c {
  width: 100%;
  max-width: 1250px;
  height: 2px;
  background-color: #07355f;
  // transition: 1s;

  & > * {
    display: none;
  }
}

.cont_form {
  @include flexPosition(column, center, center);
  width: auto;
  height: 100%;
  // border-right: 2px solid #c4c4c4;
  // border-left: 2px solid #c4c4c4;
  // padding: 0px 16px;

  h3 {
    margin: 0px;
    font-weight: 400;
    width: 100%;
  }

  .textfield {
    background-color: #fff;
    border-radius: 4px;
  }
}

.update_img {
  @include flexPosition(row, space-between, center);
  width: auto;
  height: auto;
  padding: 6px 6px 6px 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px dashed #fff;

  h2 {
    margin-right: 16px;
  }

  label {
    @include flexPosition(row, center, center);
    width: auto;
    height: 100%;

    img {
      width: 200px;
      height: 150px;
      border-radius: 6px;
    }
  }
}

// ANIMACIONES
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
