@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin sombra {
  box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.container {
  @include flexPosition(row, flex-start, flex-start);
  min-width: 550px;

  max-width: 550px;
  height: 150px;
  border-radius: 4px;
  //   border: 2px solid #07355f;
  margin-right: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: auto;

  &:hover {
    @include sombra;
  }

  .viewer {
    flex: 1;
    // background-color: #07355f;
    height: 150px;
    min-height: 150px;
    width: 200px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
  }

  .info_course {
    flex: 2;
    height: 100%;
    padding: 0px 16px;
    background-color: #f2f2f2;

    h3 {
      width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 16px 0px;
    }

    p {
      width: 300px;
      height: 50px;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      margin: 0px;

      line-height: 1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// MODAL
.modal_ {
  @include flexPosition(column, flex-start, center);
  width: 80%;
  max-width: 700px;
  height: 80vh;
  // max-height: ;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;

  .carousel {
    @include flexPosition(column, flex-start, center);
    width: 100%;
    height: 100%;
    max-height: 650px;
    background-color: #e8e8e8;
    border-radius: 4px;
    overflow-y: auto;
    padding: 16px;
  }

  .cont_actionbtn {
    @include flexPosition(row, flex-end, center);
    width: 100%;
    padding-top: 16px;
  }
}
