@mixin flexPosition($dir, $pos, $alg) {
  display: flex;
  flex-direction: $dir;
  justify-content: $pos;
  align-items: $alg;
}

@mixin sombra {
  box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -webkit-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 0px 12px 2px rgba(173, 173, 173, 0.75);
}

@mixin mobile {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.resource {
  @include flexPosition(row, space-between, center);
  width: 100%;
  padding: 24px;
  margin: 0px 16px 16px 0px;
  border-radius: 6px;
  background-color: #fff;

  .ct_info {
    @include flexPosition(column, flex-start, flex-start);
    width: 100%;
    margin-right: 16px;

    h3 {
      margin: 0px;
      margin-bottom: 8px;
    }
    p {
      margin: 0px;
      color: #6b6b6b;
    }
  }

  .btn_act {
    margin: 0px 8px;

    .p_ {
      font-size: 0.6em;
      color: #6b6b6b;
      margin-right: 4px;
    }
  }

  .menu {
    @include flexPosition(column, flex-start, center);
  }
}

// = = = = = = = COMENTARIOS = = = = = = =
.comments {
  @include flexPosition(column, flex-start, center);
  width: 100%;
  height: auto;
  max-height: 350px;
  padding: 16px 0px;
  overflow-y: auto;
  margin-top: 16px;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #07355f;
    border-radius: 6px;
  }
}

.ctn_edith {
  @include flexPosition(column, flex-start, flex-start);
  width: 100%;

  p {
    margin-bottom: 4px;
  }

  img{
    width: 264px;
    height: 150px;
    border-radius: 6px;
  }

}
